@import "../node_modules/bootstrap/scss/bootstrap.scss";
$primary: #3742fa;
$secondary: #1e90ff;
$dark: #2f3542;

$link-decoration: none;
$link-color: $secondary;

$font-family-base: 'Ubuntu', sans-serif;
$card-border-width: 0;

@import '../node_modules/bootstrap/scss/bootstrap.scss';